{# template de l'objet ODSpan #}

{% set objClasses = 'gotObject hidden ' ~ objet.classes %}

<span id="{{ objet.id }}" data-objet="{{ objet.object }}" class="{{ objClasses }}"
{% if objet.display is not empty %} data-display="{{ objet.display }}" {% endif %}
{% if objet.widthBT is not empty %} data-widthbt="{{ objet.widthBT }}" {% endif %}
>
    {{ objet.contenu | raw }}
</span>