{# template de l'objet ODSpan #}

<span id="{{ objet.id }}" class="{{ objClass }} {% if objet.classes is not empty %}{{ objet.classes }}{% endif %}" data-objet="{{ objet.object }}"
    class="gotObject hidden {% if objet.classes is not empty %}{{ objet.classes }}{% endif %}
    {% if objet.display is not empty %} data-display="{{ objet.display }}" {% endif %}
    {% if objet.widthBT is not empty %} data-widthbt="{{ objet.widthBT }}" {% endif %}
      >
    {{ objet.contenu | raw }}
</span>