{# template objet OSDialog #}

{% set modalDialogClasses = 'modal-dialog' %}
{% if objet.size == 'large' %} {% set modalDialogClasses =  modalDialogClasses ~ ' modal-lg' %} {% endif %}
{% if objet.size == 'small' %} {% set modalDialogClasses =  modalDialogClasses ~ ' modal-sm' %} {% endif %}

{% set modalClasses = 'modal' %}
{% if objet.animate == true %} {% set modalClasses = modalClasses ~ ' fade' %} {% endif %}

<div class="{{ modalClasses }}" tabindex="-1" role="dialog" id="{{ objet.id }}" data-objet="{{ objet.object }}"
     {% if objet.title is defined and objet.tile is not empty %}aria-labelledby="{{ objet.title|raw }}"{% endif %}
>
    <div class="{{ modalDialogClasses }}" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{#                <h4 class="modal-title">Modal title</h4>#}
            </div>
            <div class="modal-body">
                {{ content | raw }}
            </div>
            {% set btnsCtrls = 'none' %}
            {% set dataWidthBTbody  = '' %}
            {% set dataWidthBTctrls = '' %}
            {% if objet.btnControls|length > 0 %}
                {% set btnsCtrl = objet.id ~ 'Ctrls' %}
                {% if objet.btnsDisplay == 'V' %}
                    {% set dataWidthBTbody  = 'data-widthbt="'~objet.widthBTbody~'"' %}
                    {% set dataWidthBTctrls = 'data-widthbt="'~objet.widthBTctrls~'"' %}
                {% endif %}
            {% endif %}
            <div class="modal-footer">
                {% if btnCtrls != 'none' %}
                <div class="gotObject formCtrls" {{ dataWidthBTctrls }}>
                    {{ gotRender(btnsCtrl) }}
                </div>
            </div>
        </div>
    </div>
</div>

{#<script>#}
{#    $(document).ready(function (evt) {#}
{#        $('#{{ objet.id }}').modal();#}
{#    })#}
{#</script>#}