{# template objet OSDialog #}

{% set modalDialogClasses = 'modal-dialog' %}
{% if objet.size == 'large' %} {% set modalDialogClasses =  modalDialogClasses ~ ' modal-lg' %} {% endif %}
{% if objet.size == 'small' %} {% set modalDialogClasses =  modalDialogClasses ~ ' modal-sm' %} {% endif %}

{% set modalClasses = 'modal' %}
{% if objet.animate == true %} {% set modalClasses = modalClasses ~ ' fade' %} {% endif %}

<div class="{{ modalClasses }}" tabindex="-1" role="dialog" id="{{ objet.id }}"
     {% if objet.title is defined and objet.tile is not empty %}aria-labelledby="{{ objet.title }}"{% endif %}
>
    <div class="{{ modalDialogClasses }}" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{#                <h4 class="modal-title">Modal title</h4>#}
            </div>
            <div class="modal-body">
                {{ content | raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{#<script>#}
{#    $(document).ready(function (evt) {#}
{#        $('#{{ objet.id }}').modal();#}
{#    })#}
{#</script>#}