{# template de l'objet ODDateTimePicker #}

<div id="{{ objet.id }}" data-objet="{{ objet.object }}"
     class="gotObject hidden {% if objet.classes is not empty %}{{ objet.classes }}{% endif %}
    {% if objet.state == false %} checkbox disabled {% endif %}"
        {% if objet.display is not empty %} data-display="{{ objet.display }}" {% endif %}
        {% if objet.widthBT is not empty %} data-widthbt="{{ objet.widthBT }}" {% endif %}
        {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
        {% if objet.state == false %} disabled {% endif %}
>
    <input class="flatpickr flatpickr-input active" type="text" placeholder="Select Date.." readonly="readonly">

    {% if objet.locale != 'en' %}
    <script type="text/javascript" src="/graphicobjecttemplating/oobjects/odcontained/oddatetimepicker/flatpickr/l10n/{{ objet.locale }}.js"></script>
    {% endif %}

    <script>
        $(document).ready(function (e) {
            flatpickr('#{{ objet.id }} input', {
                "locale": "{{ objet.locale }}",
                "enableTime": "{{ objet.enableTime ? 'true' : 'false' }}",
                "enableSeconds": "{{ objet.enableSeconds ? 'true' : 'false' }}",
                "dateFormat": "{{ objet.dateFormat }}",
            {% if objet.minDate is not empty %}
                "minDate": "{{ objet.minDate }}",
            {% endif %}
            {% if objet.maxDate is not empty %}
                "maxDate": "{{ objet.maxDate }}",
            {% endif %}
            {% if objet.minTime is not empty %}
                "minTime": "{{ objet.minTime }}",
            {% endif %}
            {% if objet.maxTime is not empty %}
                "maxTime": "{{ objet.maxTime }}",
            {% endif %}
                "time_24hr": "{{ objet.time_24hr ? 'true' : 'false' }}",
                "noCalendar": "{{ objet.noCalendar ? 'true' : 'false' }}",
                "inline": "{{ objet.inline ? 'true' : 'false' }}",
                "mode": "{{ objet.mode  }}"
            });
        });
    </script>
</div>
