{# template de l'objet ODDatetimepicker #}

<div id="{{ objet.id }}" data-objet="{{ objet.object }}"
     class="gotObject hidden {% if objet.classes is not empty %}{{ objet.classes }}{% endif %}
    {% if objet.state == false %} checkbox disabled {% endif %}"
        {% if objet.display is not empty %} data-display="{{ objet.display }}" {% endif %}
        {% if objet.widthBT is not empty %} data-widthbt="{{ objet.widthBT }}" {% endif %}
        {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
        {% if objet.state == false %} disabled {% endif %}
        {% include "zf3-graphic-object-templating/oobjects/eventsHTML.twig" with {'events':objet.event} %}
>
    <label for="{{ objet.id }}Input"
            {% if objet.labelWidthBT is not empty %} data-widthbt="{{ objet.labelWidthBT }}" {% endif %}
    >{{ objet.label }}</label>
    <input id="{{ objet.id }}Input"
        class="flatpickr flatpickr-input active" type="text" placeholder="Select Date.." readonly="readonly"
        {% if objet.inputWidthBT is not empty %} data-widthbt="{{ objet.inputWidthBT }}" {% endif %}
    >
    {% if objet.btnClear %}
        <style>
            #{{ objet.id }} .boutton.clear {
                font-size: 1em;
                position: absolute;
                right: 15px;
            }
        </style>
        <button class="boutton clear" tabindex="-1" type="button"><span class="fa fa-times"></span></button>
    {% endif %}

    {% if objet.locale != 'en' %}
    <script type="text/javascript" src="/graphicobjecttemplating/oobjects/odcontained/oddatetimepicker/flatpickr/l10n/{{ objet.locale }}.js"></script>
    {% endif %}

    <script>
        $(document).ready(function (e) {
            setBtClasses("#{{ objet.id }} label", $("#{{ objet.id }} label").data("widthbt"));
            setBtClasses("#{{ objet.id }} input", $("#{{ objet.id }} input").data("widthbt"));

            {% if objet.btnClear %}
            $('#{{ objet.id }} .boutton.clear').on('click', function(){
                $(this).parent().find('input').val('').trigger('change');
                let chps = "id={{ objet.id }}&value=''&event='clear'&obj='OUI'";
                invokeAjax(chps, '{{ objet.id }}', 'clear', e);
            });
            {% endif %}

            $('#{{ objet.id }} input').flatpickr({
                "locale": "{{ objet.locale }}",
                "enableTime": "{{ objet.enableTime ? 'true' : 'false' }}",
                "enableSeconds": "{{ objet.enableSeconds ? 'true' : 'false' }}",
                "dateFormat": "{{ objet.dateFormat }}",
            {% if objet.minDate is not empty %}
                "minDate": "{{ objet.minDate }}",
            {% endif %}
            {% if objet.maxDate is not empty %}
                "maxDate": "{{ objet.maxDate }}",
            {% endif %}
            {% if objet.minTime is not empty %}
                "minTime": "{{ objet.minTime }}",
            {% endif %}
            {% if objet.maxTime is not empty %}
                "maxTime": "{{ objet.maxTime }}",
            {% endif %}
            {% if objet.defaultDate is not empty %}
                "defaultDate": "{{ objet.defaultDate}}",
            {% endif %}
                "time_24hr": "{{ objet.time_24hr ? 'true' : 'false' }}",
                "noCalendar": "{{ objet.noCalendar ? 'true' : 'false' }}",
                "inline": "{{ objet.inline ? 'true' : 'false' }}",
                "mode": "{{ objet.mode  }}",
            {% if arraykeyexists('change', objet.event) %}
                onChange: function(dateObj, dateStr, instance, e) {
                    let {{ objet.id }}DOM = $('#{{ objet.id }}');
                    let {{ objet.id }} = new {{ objet.object }}({{ objet.id }}DOM);

                    let chps = "id={{ objet.id }}&value='"+dateStr+"&event='change'&obj='OUI'";
                    invokeAjax(chps, '{{ objet.id }}', 'change', e);
                },
            {% endif %}
            });
        });
    </script>
</div>
