{# template de l'objet ODInput #}

<div id="{{ objet.id }}" class="gotObject hidden {{ objet.classes }} form-group"
    {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
    data-objet="{{ objet.object }}" data-display="{{ objet.display }}" data-widthbt="{{ objet.widthBT }}"
    {% include "zf3-graphic-object-templating/oobjects/eventsHTML.twig" with {'events':objet.event} %}
>
    <label for="{{ objet.id }}Input"
    {% if objet.labelWidthBT is not empty %} data-widthbt="{{ objet.labelWidthBT }}" {% endif %}
    >{{ objet.label }}</label>
    <input id="{{ objet.id }}Input" name="{{ objet.name }}" type="{{ objet.type }}"
    {% if objet.value is not empty %} value="{{ objet.value }}" {% endif %}
    {% if objet.size is not empty %} size="{{ objet.size }}" {% endif %}
    {% if objet.minlength is not empty %} minlength="{{ objet.minlength }}" {% endif %}
    {% if objet.maxlength is not empty %} maxlength="{{ objet.maxlength }}" {% endif %}
    {% if objet.state == false %} disabled {% endif %}
    {% if objet.inputWidthBT is not empty %} data-widthbt="{{ objet.inputWidthBT }}" {% endif %}
    {% if objet.autoFocus %} autofocus {% endif %}
    class="form-control-got"
    {% if objet.type == 'number' %}
        {% if objet.valMin is defined and objet.valMin is not empty %}
    data-valMin="{{ objet.valMin }}"
        {% endif %}
        {% if objet.valMax is defined and objet.valMax is not empty %}
    data-valMax="{{ objet.valMax }}"
        {% endif %}
    {% endif %}
    {% if objet.mask is not empty %}data-mask="{{ objet.mask }}"{% endif %}
    {% if objet.placeholder is bnot empty %}placeholder="{{ objet.placeholder }}"{% endif %}
    >
    <span class="help-block hidden">d</span>

    <script>
        $(document).ready(function (e) {
            setBtClasses("#{{ objet.id }} label", $("#{{ objet.id }} label").data("widthbt"));
            setBtClasses("#{{ objet.id }} input", $("#{{ objet.id }} input").data("widthbt"));

            {% if objet.mask is not empty %}
            $("#{{ objet.id }} input").mask("{{ objet.mask }}");
            {% endif %}

			{% if objet.autoFocus %}
			{% include "zf3-graphic-object-templating/oobjects/autoFocus.js.twig" with {id : (objet.id ~ 'Input')} %}
			{% endif %}

            {% if objet.event is not empty %}
            {% include "zf3-graphic-object-templating/oobjects/eventsJS.twig" with { events:objet.event } %}
            {% endif %}
        })
    </script>
</div>