{# template de l'objet ODTreeview #}

{% import _self as macros %}

{% macro drawLeaf(item, objet, level) %}
    {#{ dump(objet.colorClasses[level].normal['bg-color']) }#}
    {% import _self as macros %}

    {% set path = objet.dataPath %}
    {% set icon = objet.icon %}
    {% set colorClasses = objet.colorClasses %}
    {% set btnActions = '' %}
    {% for btnAction in item.btnActions %}
        {% set btnActions = btnActions ~ '|' ~ btnAction %}
    {% endfor %}
    {% if btnActions|length > 0 %} {% set btnActions = substr(btnActions, 1) %} {% endif %}

    {% if item.children|length == 0 %}
        <li id="{{ objet.id }}Li-{{ path[item.ref] }}" data-id = "{{ path[item.ref] }}"
            class="{{ colorClasses[level].normal['fg-color'] }} bg-{{ colorClasses[level].normal['bg-color'] }} p1 mb1
            {% if item.selectable == false %} unselect{% endif %} leaf"
            {% if item.widthbt is defined and item.widthbt is not empty %}data-widthbt="{{ item.widthbt }}"{% endif %}
        >
            <div class="btnActions" data-btnactions="{{ btnActions }}" style="float: right"></div>
            {% if icon %}
                {% switch(item.icon) %}
                {% case 'none' %}
                    <i class="{{ objet.leafIco }} icon leaf"></i>
                {% default %}
                    <i class="{{ item.icon }} icon leaf"></i>
                {% endswitch %}
            {% endif %}
            <label style="float: left">
                {{ item.libel|raw }}<span class="odtcheck {% if item.check %} check{% endif %}" ></span>
            </label>
        </li>
    {% else %}
        <li id="{{ objet.id }}Li-{{ path[item.ref] }}" data-id = "{{ path[item.ref] }}"
            class="{{ colorClasses[level].normal['fg-color'] }} bg-{{ colorClasses[level].normal['bg-color'] }} p1 mb1
            {% if item.selectable == false %} unselect {% endif %} node"
            {% if item.widthbt is defined and item.widthbt is not empty %}data-widthbt="{{ item.widthbt }}"{% endif %}
        >
            <div class="btnActions" data-btnactions="{{ btnActions }}" style="float: right"></div>
            {% if icon %}
                <i class="{{ objet.nodeClosedIco }}"></i>
            {% endif %}
            <label style="float: left">
                {{ item.libel|raw }}<span class="odtcheck {% if item.check %} check{% endif %}" ></span>
            </label>
            <ul class="t-sortable-inner {% if item.sortable == false %} disabled {% endif %}
            {% if objet.sortable != false and item.sortable != false %} sortable {% endif %}"
                data-widthbt="WL12:WM12:WS12:WX12"
            >
                {% for id,leaf in item.children %}
                    {{ macros.drawLeaf(leaf, objet, level + 1) }}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

{% set objClasses = 'gotObject hidden ' ~ objet.classes %}
{% if objet.selection != false %} {% set objClasses = objClasses ~ ' selectable' %} {% endif %}

<div id="{{ objet.id }}" class="{{ objClasses }}" data-objet="{{ objet.object }}" data-role="{{ objet.type }}"
 data-default="{{ objet.default ? 'true' : 'false' }}" data-multiselect="{{ (objet.multiSelect) ? 'true' : 'false' }}"
{% if objet.widthBT is not empty %}data-widthbt="{{ objet.widthBT }}" {% endif %}
{% if objet.display is not empty %}data-display="{{ objet.display}}" {% endif %}
{% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}

{% if objet.event is not empty %}
    {% include "zf3-graphic-object-templating/oobjects/eventsHTML.twig" with {'events':objet.event} %}
{% endif %}
>
    <style>
        li .check {
            background: url("http://{{ gotHttpHost() }}/img/checkGreen.svg") no-repeat left top;
            background-size: 16px 16px;
            width:16px;
            height:16px;
            display: block;
            float: right;
        }

        li .BAright {
            float: right;
            position: relative;
            margin-left: 0.5em;
        }

        li .BAleft {
            float: left;
            position: relative;
            margin-left: 0.5em;
        }

        {% for btnAction, params in objet.btnActions %}
        .{{ btnAction }} .width {
            width: {{ objet.btnActionWidth }} !important;
        }
        .{{ btnAction }} .height {
            height: {{ objet.btnActionHeight }} !important;
        }
        {% endfor %}

    </style>

    <div id="{{ objet.id }}Li-0-0">
        <label>
            {% if objet.title is defined and objet.title is not empty %}{{ objet.title}}{% endif %}
        </label>
        <ul class="t-sortable ml4 {% if objet.sortable == false %} disabled {% endif %}
        {% if objet.dataTree is not empty %}node{% endif %} {% if objet.sortable != false %} sortable {% endif %}"
            data-widthbt="WL12:WM12:WS12:WX12"
        >
        {% for leaf in objet.dataTree %}
            {{ macros.drawLeaf(leaf, objet, 1) }}
        {% endfor %}
        </ul>
    </div>

    <div id="{{ objet.id }}BtnsAction" style="display: none;">
        {% for btnAction, params in objet.btnActions %}
            {{ gotRender(btnAction) }}
        {% endfor %}
    </div>

    <script id="{{ objet.id }}InitTreeview">
        initTreeview('{{ objet.id }}');

        addBtnActionsTV('{{ objet.id }}');

        $("#{{ objet.id }} ul").each(function () {
            let btClass = buildBootstrapClasses($(this).data("widthbt"));
            $(this).addClass(btClass);
        });

        $("#{{ objet.id }} li").each(function () {
            let btClass = buildBootstrapClasses($(this).data("widthbt"));
            $(this).addClass(btClass);
        });
    </script>

    {% include "zf3-graphic-object-templating/oobjects/infoBulle.js.twig" with {'infoBulle':objet.infoBulle, 'id':objet.id} %}
</div>
