{# template de l'objet ODTreeview #}

{% import _self as macros %}

{% macro drawLeaf(item, path, icon, objet) %}
    {#{ dump(item) }#}
    {% import _self as macros %}
    {% if item.children|length == 0 %}
        <li id="{{ objet.id }}Li-{{ path[item.ref] }}" class="leaf">
            {% if objet.icon %}
                {% switch(item.icon) %}
                {% case 'none' %}
            <i class="{{ objet.leafIco }} icon leaf"></i>
                {% default %}
            <i class="{{ item.icon }} icon leaf"></i>
                {% endswitch %}
            {% endif %}
            <label>
                <input class="hummingbird-end-node" id="{{ objet.id }}-{{ path[item.ref] }}" data-id="{{ path[item.ref] }}" type="checkbox">
                {{ item.libel }}
            </label>
        </li>
    {% else %}
        <li id="{{ objet.id }}Li-{{ path[item.ref] }}" class="node">
            {% if objet.icon %}
            <i class="{{ objet.nodeClosedIco }}"></i>
            {% endif %}
            <label>
                <input id="{{ objet.id }}-{{ path[item.ref] }}" data-id="{{ path[item.ref] }}" type="checkbox">
                {{ item.libel }}
            </label>
            <ul>
                {% for id,leaf in item.children %}
                    {{ macros.drawLeaf(leaf, path, icon, objet) }}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

<div id="{{ objet.id }}"
    data-objet="{{ objet.object }}" data-display="{{ objet.display }}" data-widthbt="{{ objet.widthBT }}"
    {% if objet.form|length > 0 %} data-form="{{ objet.form }}" {% endif %}
    class="gotObject hidden treeview {% if objet.classes is not empty %}{{ objet.classes }}{% endif %}"
    {% include "zf3-graphic-object-templating/oobjects/eventsHTML.twig" with {'events':objet.event} %}
>

    {#{ breakpoint(objet.dataTree) }#}

    <div id="{{ objet.id }}Li-0-0" class="hummingbird-treeview treeview_container" data-id="0-0">
        <label>
            {% if objet.title is defined and objet.title is not empty %}{{ objet.title}}{% endif %}
        </label>
        <ul class="hummingbird-base treeview">
            {% for leaf in objet.dataTree %}
                {{ macros.drawLeaf(leaf, objet.dataPath, objet.icon, objet) }}
            {% endfor %}
        </ul>
    </div>

    <style>
        li {
            display: block;
            font-family: 'Arial';
            font-size: 15px;
            padding: 0.2em;
            border: 1px solid transparent;
        }

        li:hover {
            border: 1px solid grey;
            border-radius: 3px;
            background-color: lightgrey;
        }

        li.selected {
            border: 1px solid #0105de;
            border-radius: 3px;
            background-color: #b4bed3;
        }
    </style>

    <script id="{{ objet.id }}Script">
        $(document).ready(function (e) {
            $('#{{ objet.id }} .treeview li input').on('click', function (e) {
                var selectedLeaf = $(this).parent('label').parent('li').hasClass('selected');
                {%  if objet.multiSelect == false %}
                $.each($(this).parents('.treeview').find('li.selected'), function (e) {
                    $(this).removeClass('selected');
                    $(this).find('input').prop('checked', false);
                });
                {% endif %}

                console.log('objet cliqué');
                console.log($(this).attr('id'));

                if (selectedLeaf) {
                    $(this).parent('label').parent('li').removeClass('selected');
                    $(this).prop('checked', false);
                } else {
                    $(this).parent('label').parent('li').addClass('selected');
                    $(this).prop('checked', true);
                }

                var localObject = new {{ objet.object }}($('#{{ objet.id }}'));
                localObject.updateNodeState($(this));
            });

            $('#{{ objet.id }} .treeview li.node i:first-child').on('click', function (e) {
                var opened = $(this).hasClass('{{ objet.nodeOpenedIco }}');
                if (opened) {
                    $(this).removeClass('{{ objet.nodeOpenedIco }}').addClass('{{ objet.nodeClosedIco }}');
                    $(this).parent('li').find('ul').removeClass('show').addClass('hide');
                } else {
                    $(this).removeClass('{{ objet.nodeClosedIco }}').addClass('{{ objet.nodeOpenedIco }}');
                    $(this).parent('li').find('ul').removeClass('hide').addClass('show');
                }
            });
        });
    </script>

</div>
