{# template de l'objet ODTreeview #}

{% import _self as macros %}

{% macro drawLeaf(key, item, path, icon) %}
    {% import _self as macros %}
    {% if item.children|length == 0 %}
        <li data-lvl="{{ path[key] }}" data-ord="{{ key }}">
            {% if icon %}
                {% switch(item.icon) %}
                {% case 'none' %}
                    <i class="fa fa-file icon leaf"></i>
                {% default %}
                    <i class="{{ item.icon }}"></i>
                {% endswitch %}
            {% endif %}
            {{ item.libel }}
        </li>
    {% else %}
        <li class="lvl" data-lvl="{{ path[key] }}" data-ord="{{ key }}">
            <input type="checkbox" id="lvl_{{ key }}">
            {% if icon %}
                {% switch(item.icon) %}
                {% case 'none' %}
                    <i class="fa fa-folder icon"></i>
                    <i class="fa fa-folder-open icon"></i>
                {% default %}
                    <i class="icon {{ item.icon }} closed"></i>
                    <i class="icon {{ item.icon }} opened"></i>
                {% endswitch %}
            {% endif %}
            <label for="lvl_{{ key }}">{{ item.libel }}</label>
            <ul>
                {% for id,leaf in item.children %}
                    {{ macros.drawLeaf(id, leaf, path, icon) }}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

<div id="{{ objet.id }}" class="treeview">
    <style>
    {% if objet.styleTree is defined and objet.styleTree|length > 0 %}
            {% for item in styleTree %}
            /* habillage spécifique */
            li.n{{ item.level }}:hover {
                border: 1px solid {{ item.color }};
                border-radius: 3px;
                background-color: {{ item.backgroundColor }};
            }
            {% endfor %}
    {% endif %}

        #{{ objet.id }} {
            border:  1px black solid;
            padding: 0.5em;
        }

        #{{ objet.id }} ul {
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>

    <ul>
        {% for id,leaf in objet.dataTree %}
            {{ macros.drawLeaf(id, leaf, objet.dataPath, objet.icon) }}
        {% endfor %}
    </ul>
</div>
