{# template de l'objet ODTreeview #}

{% import _self as macros %}

{% macro drawLeaf(key, item, path, icon, objet) %}
    {% import _self as macros %}
    {% if item.children|length == 0 %}
        <li>
            <label>
                <input class="hummingbird-end-node" id="node-{{ path[item.ref] }}-{{ key }}" data-id="custom-{{ path[item.ref] }}-{{ key }}" type="checkbox">
                {% if icon %}
                    {% switch(item.icon) %}
                    {% case 'none' %}
                <i class="{{ objet.leafIco }} icon leaf"></i>
                    {% default %}
                <i class="{{ item.icon }} icon leaf"></i>
                    {% endswitch %}
                {% endif %}
                {{ item.libel }}
            </label>
        </li>

        <!--li class="leaf" data-lvl="{#{ path[item.ref] }}" data-ord="{{ key }}">
            {% if icon %}
                {% switch(item.icon) %}
                {% case 'none' %}
                    <i class="{{ objet.leafIco }} icon leaf"></i>
                {% default %}
                    <i class="{{ item.icon }} icon leaf"></i>
                {% endswitch %}
            {% endif %}
            {{ item.libel }#}
        </li-->
    {% else %}
        <li>
            <i class="fa fa-minus"></i>
            <label>
                <input id="node{{ path[item.ref] }}-{{ key }}" data-id="custom-{{ path[item.ref] }}-{{ key }}" type="checkbox">
                {{ item.libel }}
            </label>
            <ul>
                {% for id,leaf in item.children %}
                    {{ macros.drawLeaf(id, leaf, path, icon, objet) }}
                {% endfor %}
            </ul>
        </li>

        <!--li class="node" data-lvl="{#{ path[item.ref] }}" data-ord="{{ key }}">
            <input type="checkbox" id="lvl_{{ item.parent~'.'~item.ord }}">
            {% if icon %}
                {% switch(item.icon) %}
                {% case 'none' %}
                    <i class="{{ objet.nodeClosedIco }} icon closed"></i>
                    <i class="{{ objet.nodeOpenedIco }} icon opened"></i>
                {% default %}
                    <i class="{{ item.icon }} icon closed"></i>
                    <i class="{{ item.icon }} icon opened"></i>
                {% endswitch %}
            {% endif %}
            <label for="lvl_{{ item.parent~'.'~item.ord }}">{{ item.libel }}</label>
            <ul>
                {% for id,leaf in item.children %}
                    {{ macros.drawLeaf(id, leaf, path, icon, objet) }}
                {% endfor %#}
            </ul>
        </li-->
    {% endif %}
{% endmacro %}

<div id="{{ objet.id }}"
    data-objet="{{ objet.object }}" data-display="{{ objet.display }}" data-widthbt="{{ objet.widthBT }}"
    {% if objet.form|length > 0 %} data-form="{{ objet.form }}" {% endif %}
    class="gotObject hidden treeview {% if objet.classes is not empty %}{{ objet.classes }}{% endif %}"
    {% include "zf3-graphic-object-templating/oobjects/eventsHTML.twig" with {'events':objet.event} %}
>
    <div class="hummingbird-treeview treeview_container">
        <ul class="hummingbird-base treeview">
            {% for id,leaf in objet.dataTree %}
                {{ macros.drawLeaf(id, leaf, objet.dataPath, objet.icon, objet) }}
            {% endfor %}
        </ul>
    </div>
    <!--div data-lvl="0" data-ord="0">
        <ul>
            {#% for id,leaf in objet.dataTree %}
                {{ macros.drawLeaf(id, leaf, objet.dataPath, objet.icon, objet) }}
            {% endfor %#}
        </ul>
    </div-->

</div>
<script>
    $(document).ready(function (e) {
        $('#{{ objet.id }} .treeview').hummingbird();
    });
</script>
