
<!--div id="{{ objet.id }}"-->
<div id="{{ objet.id }}" data-objet="{{ objet.object }}"
    class="gotObject hidden {% if objet.classes is not empty %}{{ objet.classes }}{% endif %}
    {% if objet.display is not empty %} data-display="{{ objet.display }}" {% endif %}
    {% if objet.widthBT is not empty %} data-widthbt="{{ objet.widthBT }}" {% endif %}
    {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
    {% if objet.state == false %} disabled {% endif %}
    {% include "zf3-graphic-object-templating/oobjects/eventsHTML.twig" with {'events':objet.event} %}
    >
    <p class="col-lg-12">
        <img src="{{ objet.generatedCaptcha|raw }}" alt="">
    </p>
    <p>{{ objet.generatedString }}</p>
    <p>
        <label for="{{ objet.id }}Input" class="col-lg-12">CAPTCHA:</label>
        <input id="{{ objet.id }}Input" class="col-lg-12" type="text" required name="captchaInput">
    </p>

    <script id="{{ objet.id }}Script" type="text/javascript">
        {% if objet.event is not empty %}
        $(document).ready(function () {
            {% include "zf3-graphic-object-templating/oobjects/eventsJS.twig" with { events:objet.event } %}
        });
        {% endif %}
    </script>
</div>