{# template objet ODDropzone #}

{% set objClass = "gotObject "~gotBootstrap(objet.widthBT)~' '~objet.classes %}

<div id="{{ objet.id }}" data-objet="{{ objet.object }}"
    {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
    {% if objClass is not empty %} class="{{ objClass }}" {% endif %}
>
    <input type="file" id="{{ objet.id }}Input" name="{{ objet.id }}Input[]" {% if objet.multiple %} multiple {% endif %}>
</div>

{#<pre>{{ dump(objet.loadedFiles) }}</pre>#}

<script>
    $(document).ready(function (evt) {
        var urlGotCallback  = $("#gotcallback").text();
        var objectDom       = $("#{{ objet.id }}");
        var object          = new oddragndrop(objectDom);

        $("#{{ objet.id  }}Input").fileinput({
            deleteUrl: urlGotCallback,
			deleteExtraData: object.getData('delete'),
            uploadUrl: urlGotCallback,
            uploadExtraData: object.getData('upload'),
            uploadAsync: false,
            theme: '{{ objet.theme }}',
			previewFileIcon : '<img src="/graphicobjecttemplating/icons/unknow.svg" style="width: 2em;"/>',
            initialPreviewAsData: true,
        {% if objet.loadedFiles is not empty %}
			initialPreview: {{objet.loadedPaths|json_encode()|raw}},
            initialPreviewConfig: {{ objet.loadedPreview|json_encode()|raw}},
        {% endif %}
            showClose: {% if objet.showClose %}true{% else %}false{% endif %},
            showBrowse: {% if objet.showBrowse %}true{% else %}false{% endif %},
            showCaption: {% if objet.showCaption %}true{% else %}false{% endif %},
            showPreview: {% if objet.showPreview %}true{% else %}false{% endif %},
            showUpload: {% if objet.showUpload %}true{% else %}false{% endif %},
            showRemove: {% if objet.showRemove %}true{% else %}false{% endif %},
            allowedFileExtensions: {{ objet.acceptedFiles|json_encode()|raw }},
            browseOnZoneClick: {% if objet.clickOnZone %}true{% else %}false{% endif %},
            overwriteInitial: {% if objet.overwriteInitial %}true{% else %}false{% endif %},
            allowedPreviewTypes: ['image', 'html', 'text'],
            preferIconicPreview: false,
            previewFileIconSettings: {
                csv: '<img src="/graphicobjecttemplating/icons/csv.svg" style="width: 2em;"/>',
                doc: '<img src="/graphicobjecttemplating/icons/doc.svg" style="width: 2em;"/>',
                docx: '<img src="/graphicobjecttemplating/icons/docx.svg" style="width: 2em;"/>',
                epub: '<img src="/graphicobjecttemplating/icons/epub.svg" style="width: 2em;"/>',
                gz: '<img src="/graphicobjecttemplating/icons/gz.svg" style="width: 2em;"/>',
                mkv: '<img src="/graphicobjecttemplating/icons/mkv.svg" style="width: 2em;"/>',
                mp3: '<img src="/graphicobjecttemplating/icons/mp3.svg" style="width: 2em;"/>',
                mp4: '<img src="/graphicobjecttemplating/icons/mp4.svg" style="width: 2em;"/>',
                odp: '<img src="/graphicobjecttemplating/icons/odp.svg" style="width: 2em;"/>',
                ods: '<img src="/graphicobjecttemplating/icons/ods.svg" style="width: 2em;"/>',
                odt: '<img src="/graphicobjecttemplating/icons/odt.svg" style="width: 2em;"/>',
                ogg: '<img src="/graphicobjecttemplating/icons/ogg.svg" style="width: 2em;"/>',
                ogv: '<img src="/graphicobjecttemplating/icons/ogv.svg" style="width: 2em;"/>',
                pdf: '<img src="/graphicobjecttemplating/icons/pdf.svg" style="width: 2em;"/>',
                ppt: '<img src="/graphicobjecttemplating/icons/ppt.svg" style="width: 2em;"/>',
                pptx: '<img src="/graphicobjecttemplating/icons/pptx.svg" style="width: 2em;"/>',
                rtf: '<img src="/graphicobjecttemplating/icons/rtf.svg" style="width: 2em;"/>',
                tar: '<img src="/graphicobjecttemplating/icons/tar.svg" style="width: 2em;"/>',
                txt: '<img src="/graphicobjecttemplating/icons/txt.svg" style="width: 2em;"/>',
                wav: '<img src="/graphicobjecttemplating/icons/wav.svg" style="width: 2em;"/>',
                xls: '<img src="/graphicobjecttemplating/icons/xls.svg" style="width: 2em;"/>',
                xlsx: '<img src="/graphicobjecttemplating/icons/xlsx.svg" style="width: 2em;"/>',
                zip: '<img src="/graphicobjecttemplating/icons/zip.svg" style="width: 2em;"/>'

            },
        }).on("filebatchselected", function(event, files) {
            $("#{{ objet.id  }}Input").fileinput("upload");
        }).on('filebeforedelete', function(event, key, data) {
            return !window.confirm('Êtes-vous bien sûr de supprimer ce fichier?');
        }).on('filebatchuploadcomplete', function(event, files, extra) {
            invokeAjax(object.getData('uploadFile'), object.id, 'uploadFile', undefined );
        }).on('filedeleted', function (event, key, jqXHR, data) {
            invokeAjax(object.getData('deleteFile'), object.id, 'deleteFile', undefined);
        });
    });
</script>