{# template objet ODDropzone #}

{% set objClass = "gotObject "~gotBootstrap(objet.widthBT)~' '~objet.classes %}

<div id="{{ objet.id }}" data-objet="{{ objet.object }}"
    {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
    {% if objClass is not empty %} class="{{ objClass }}" {% endif %}
>
    <input type="file" id="{{ objet.id }}Input" name="{{ objet.id }}Input[]" {% if objet.multiple %} multiple {% endif %}>
</div>

{#<pre>{{ dump(objet.acceptedFiles) }}</pre>#}

<script>
    $(document).ready(function (evt) {
        var urlGotCallback  = $("#gotcallback").text();
        var objectDom       = $("#{{ objet.id }}");
        var object          = new oddragndrop(objectDom);

        $("#{{ objet.id  }}Input").fileinput({
            deleteUrl: urlGotCallback,
			deleteExtraData: object.getData('delete'),
            uploadUrl: urlGotCallback,
            uploadExtraData: object.getData('upload'),
            theme: '{{ objet.theme }}',
			previewFileIcon : '<img src="../graphicobjecttemplating/icons/unknown.svg" style="width: 1.5em;"/>',
            initialPreviewAsData: true,
        {% if objet.loadedFiles is not empty %}
			initialPreview: {{objet.loadedPaths|json_encode()|raw}},
            initialPreviewConfig: {{ objet.loadedPreview|json_encode()|raw}},
        {% endif %}
            showClose: {% if objet.showClose %}true{% else %}false{% endif %},
            showBrowse: {% if objet.showBrowse %}true{% else %}false{% endif %},
            showCaption: {% if objet.showCaption %}true{% else %}false{% endif %},
            showPreview: {% if objet.showPreview %}true{% else %}false{% endif %},
            showUpload: {% if objet.showUpload %}true{% else %}false{% endif %},
            showRemove: {% if objet.showRemove %}true{% else %}false{% endif %},
            allowedFileExtensions: {{ objet.acceptedFiles|json_encode()|raw }},
            browseOnZoneClick: {% if objet.clickOnZone %}true{% else %}false{% endif %},
            overwriteInitial: {% if objet.overwriteInitial %}true{% else %}false{% endif %},
        });
    });
</script>