{# template de l'objet ODSelect #}

<div id="{{ objet.id }}"
     data-objet="{{ objet.object }}" data-display="{{ objet.display }}" data-widthbt="{{ objet.widthBT }}"
    {% if objet.form|length > 0 %} data-form="{{ objet.form }}" {% endif %}
    class="gotObject hidden {% if objet.classes is not empty %}{{ objet.classes }}{% endif %}"
    {% include "zf3-graphic-object-templating/oobjects/eventsHTML.twig" with {'events':objet.event} %}
>
    <style>
        #{{ objet.id }} .custom-dropdown select {
            background-color: {{ objet.bgColor }} !important;
            color: {{ objet.fgColor }} !important;
            border: 1px solid {{ objet.fgColor }} !important;
        }
        #{{ objet.id }} .custom-dropdown label {
            margin-top: 0.5em !important;
        }
        #{{ objet.id }} .custom-dropdown {
            margin: 0 !important;
        }
    </style>
    <span class="custom-dropdown {{ objet.format }}" style="width: 100%;">
    <label for="{{ objet.id }}Select" class="{{ labelClass }}"
        {% if objet.labelWidthBT is not empty %} data-widthbt="{{ objet.labelWidthBT }}" {% endif %}
    >{{ objet.label }}</label>
    <select id="{{ objet.id }}Select" class="{{ selectClass }}"
            {% include "zf3-graphic-object-templating/oobjects/objEvents.twig" with { event:objet.event } %}
            {% if objet.multiple %} multiple {% endif %}
            {% if objet.selectWidthBT is not empty %} data-widthbt="{{ objet.selectWidthBT }}" {% endif %}
    >
        {% if objet.placeholder is not empty %}
            <option value="" disabled selected>{{ objet.placeholder }}</option>
        {% endif %}
        {% for value, item in objet.options %}
            <option value="{{ value }}"{% if item.selected %} selected {% endif %} {% if not item.enable %} disabled {% endif %} >
                {{ item.libel }}
            </option>
        {% endfor %}
    </select>
    </span>

    <script>
        $(document).ready(function (e) {
            setBtClasses("#{{ objet.id }} label", $("#{{ objet.id }} label").data("widthbt"));
            setBtClasses("#{{ objet.id }} select", $("#{{ objet.id }} select").data("widthbt"));

            {% if objet.event is not empty %}
            {% include "zf3-graphic-object-templating/oobjects/events.twig" with { events:objet.event } %}
            {% endif %}
        })
    </script>
</div>