{# template de l'objet ODInput #}

<div id="{{ objet.id }}">
    <label for="{{ objet.id }} input">{{ objet.label }}</label>
    <input name="{{ objet.name }}" type="{{ objet.type }}" size="{{ objet.size }}" maxlength="{{ objet.maxlength }}">
</div>