{# template pour l'objet ODFileUpload #}

{#

url visualiser  url('gotFileUpload', {'action': 'view', 'id': N°image ou nomImage})
url télécharger url('gotFileUpload', {'action': 'download', 'id': N°image ou nomImage})
#}

{%  set allowedFiles = objet.acceptedFiles %}
{%  set allowedFiles = allowedFiles|merge(objet.userExtensions) %}

<div id="{{ objet.id }}" class="gotObject hidden {{ objet.classes }} form-group"
        {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
     data-objet="{{ objet.object }}" data-display="{{ objet.display }}" data-widthbt="{{ objet.widthBT }}"
        {% include "zf3-graphic-object-templating/oobjects/eventsHTML.twig" with {'events':objet.event} %}
>
    <input id="{{ objet.id }}-input" type="file" {% if objet.multiple %}multiple{% endif %}>

    <script>
        {% set urlView = url ('gotFileUpload', {'action': 'view'}) %}
        {% set urlDelt = url ('gotFileUpload', {'action': 'delete'}) %}
        {% set urlLoad = url ('gotFileUpload', {'action': 'download'}) %}
        $(document).ready(function () {
            $('#{{ objet.id }}-input').fileinput({
                language: '{{ objet.locale }}',
                hideThumbnailContent: {{ objet.thumbnailContent ? 'true' : 'false' }},
                showCaption: {{ objet.caption ? 'true' : 'false' }},
                showPreview: {{ objet.preview ? 'true' : 'false' }},
                showRemove: {{ objet.remove ? 'true' : 'false' }},
                showUpload: {{ objet.upload ? 'true' : 'false' }},
                showCancel: {{ objet.cancel ? 'true' : 'false' }},
                showClose: {{ objet.close ? 'true' : 'false' }},
                showUploadedThumbs: {{ objet.uploadedThumbs ? 'true' : 'false' }},
                showBrowse: {{ objet.browse ? 'true' : 'false' }},
                browseOnZoneClick: {{ objet.browseOnClick ? 'true' : 'false' }},
                dropZoneEnabled: {{ objet.dropZone ? 'true' : 'false' }},
            {% if objet.dropZoneTitle is not empty %}
                dropZoneTitle: {{ objet.dropZoneTitle }},
            {% endif %}
            {% if objet.dropZoneClickTitle is not empty and objet.dropzone %}
                dropZoneClickTitle: {{ objet.dropZoneClickTitle }},
            {% endif %}
            {% set allowedFiles = '"' ~ implode('", "', allowedFiles) ~ '"' %}
                allowedFileExtensions: [{{ allowedFiles|raw }}],
            {% if objet.placeholder is not empty %}
                initialCaption: "{{ objet.initialCaption }}",
            {% endif %}
            {% if objet.minFileSize > 0 %}
                minFileSize: {{ objet.minFileSize }},
            {% endif %}
            {% if objet.maxFileSize > 0 %}
                maxFileSize: {{ objet.maxFileSize }},
            {% endif %}
            {% if objet.maxFilePreviewSize > -1 %}
                maxFilePreviewSize: {{ objet.maxFilePreviewSize }},
            {% endif %}
            {% if objet.minFileCount > 0 %}
                minFileCount: {{ objet.minFileCount }},
            {% endif %}
            {% if objet.maxFileCount > 0 %}
                maxFileCount: {{ objet.maxFileCount }},
            {% endif %}
                autoReplace: {{ objet.autoReplace ? 'true' : 'false' }},
                validateInitialCount: {{ objet.validateInitialCount ? 'true' : 'false' }},

            {% if objet.loadedFiles is not empty %}
                {% set initialPreview = {} %}
                {% set initialPreviewConfig = {} %}
                {% for loadedFile in loadedFiles %}
                    {% set indexFile = loop.index0 %}
                    {% set initialPreview = initialPreview|merge({ indexFile : urlView ~ '/' ~ loadedFile.src}) %}
                    {% set initialPreviewConfig = initialPreviewConfig|merge({ indexFile :
                        {
                            'caption': "'" ~ loadedFile.name ~ "'",
                            'downloadUrl': "'" ~ urlLoad ~ '/' ~ loadedFile.src ~ "'",
                            'size': loadedFile.size,
                            'width': "120px",
                            'key': loop.index,
                            'url': "'" ~ urlDelt ~ '/' ~ loadedFile.src ~ "'",
                            'extra': { 'id': "'" ~ loadedFile.name ~ "'" }
                        }
                    }) %}
                {% endfor %}
                initialPreview: {{ initialPreview|json_encode }},
                initialPreviewAsData: true,
                initialPreviewConfig: {{ initialPreviewConfig|json_encode }},
                initialPreviewShowDelete: {{ objet.initialPreviewShowDelete ? 'true' : 'false' }},
            {% endif %}
                removeFromPreviewOnError: {{ objet.removeFromPreviewOnError ? 'true' : 'false' }},
            });
        });
    </script>
</div>

