{# template objet ODMenu #}
{% import _self as menusMacro %}

{% macro afficheLeaf(menus, side) %}
    {% import _self as menusMacro %}

    {% if menus.float == side %}
        {% set active = (menus.active) ? 'active' : '' %}
        {% if menus.dropdown is not defined or menus.dropdown |length == 0 %}
    <li>
            {% if menus.link is defined and menus.link is not empty %}
            <a href="{{ menus.link | raw }}" target="{{ menus.target }}"
            {% if menus.enable == false %} onclick="return false;" class="isDisabled" {% endif %} >
            {{ menus.label }}</a>
            {% else %}
            <span class="noLink">{{ menus.label }}</span>
            {% endif %}
    </li>
        {% else %}
        <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
            {% if menus.enable == false %} onclick="return false;" class="isDisabled" {% endif %} > 
                {{ menus.label }}<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            {% for item in menus.dropdown %}
                {{ menusMacro.afficheLeaf(item) }}
            {% endfor %}
            </ul>
        </li>
        {% endif %}
    {% endif %}
{% endmacro %}

{% set objClasses = 'gotObject hidden ' ~ objet.classes %}

<div id="{{ objet.id }}" class="{{ objClasses }}" data-objet="{{ objet.object }}"
{% if objet.widthBT is not empty %}data-widthbt="{{ objet.widthBT }}" {% endif %}
{% if objet.display is not empty %}data-display="{{ objet.display}}" {% endif %}
>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" target="blank">{{ objet.title }}</a>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for menu in objet.dataTree %}
                {% if menu.float == 'left' %}
                    {% if menu.dropdown is not defined or menu.dropdown |length == 0 %}
                        <li>
                            {% if menu.link is defined and menu.link is not empty %}
                                <a href="{{ menu.link | raw }}" target="{{ menu.target }}"
                                {% if not (menu.enable) %} onclick="return false;" class="isDisabled" {% endif %} >{{ menu.label }}</a>
                            {% else %}
                                <span class="noLink">{{ menu.label }}</span>
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                            {% if not (menu.enable) %} onclick="return false;" class="isDisabled" {% endif %} >
                                {{ menu.label }}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% for item in menu.dropdown %}
                                    {{ menusMacro.afficheLeaf(item, 'left') }}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% for menu in objet.dataTree %}
                {% if menu.float == 'right' %}
                    {% if menu.dropdown is not defined or menu.dropdown |length == 0 %}
                        <li>
                            {% if menu.link is defined and menu.link is not empty %}
                                <a href="{{ menu.link | raw }}" target="{{ menu.target }}"
                                {% if menu.enable == false %} onclick="return false;" class="isDisabled" {% endif %} >{{ menu.label }}</a>
                            {% else %}
                                <span class="noLink">{{ menu.label }}</span>
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                            {% if menu.enable == false %} onclick="return false;" class="isDisabled" {% endif %} >
                                {{ menu.label }}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% for item in menu.dropdown %}
                                    {{ menusMacro.afficheLeaf(item, 'right') }}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>

    <script>
        $(document).ready(function () {
            $('#{{ objet.id }} ul.dropdown-menu [datat-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            })
        })
    </script>
</div>
