{# template de l'objet ODNotification #}

{% if objet.action == 'init' %}
    <div id="{{ objet.id }}_div">
        {# initialisation à mettre au niveau du header de la page #}
        <script>
            var {{ objet.id }}Lobibox = Lobibox;
            $(document).ready(
                    {{ objet.id }}Lobibox.base.DEFAULTS = $.extend({}, {{ objet.id }}Lobibox.base.DEFAULTS, {
                        horizontalOffset: 5,
                        verticalOffset: 5,
                        width: 600,
                        height: 'auto',
                        closeButton: true,
                        draggable: false,
                        customBtnClass: 'lobibox-btn lobibox-btn-default',
                        modal: true,
                        debug: false,
                        buttonsAlign: 'center',             // Position where buttons should be aligned
                        closeOnEsc: true,                   // Close messagebox on Esc press
                        delayToRemove: 200,                 // Time after which lobibox will be removed after remove call. (This option is for hide animation to finish)
                        delay: false,                       // Time to remove lobibox after shown
                        baseClass: 'animated-super-fast',   // Base class to add all messageboxes
                        showClass: 'zoomIn',                // Show animation class
                        hideClass: 'zoomOut',               // Hide animation class
                        iconSource: 'bootstrap',            // "bootstrap" or "fontAwesome" the library which will be used for icons
                     })
            );
        </script>
        <input id="{{ objet.id }}ListLength" type="hidden" name="listLength" value="0"/>
        <script id="{{ objet.id }}" type="text/javascript">
        </script>
    </div>
{% endif %}

{% if objet.action == 'send' %}
    <script id='{{ objet.id }}' type="text/javascript">
        if ( {{ objet.id }}Lobibox.notify.list.length == 0) {
            {{ objet.id }}Lobibox.notify('{{ objet.type }}', {
                showAfterPrevious: {{ objet.showAfterPrevious ? 'true' : 'false' }},
                {% if objet.title is not empty %} title: '{{ objet.title }}', {% endif %}
                {% if objet.sound == false %} sound: false, {% endif %}
                delay: {{ objet.delay }},
                msg: '{{ objet.body }}'
            });
            $('#{{ objet.id }}ListLength').val(1);
        } else {
            var listLength = parseInt($('#{{ objet.id }}ListLength').val());
            var delayTime  = {{ objet.delayMessage }} * listLength;
            setTimeout(function () {
                {{ objet.id }}Lobibox.notify('{{ objet.type }}', {
                    showAfterPrevious: {{ objet.showAfterPrevious ? 'true' : 'false' }},
                    {% if objet.title is not empty %} title: '{{ objet.title }}', {% endif %}
                    {% if objet.sound == false %} sound: false, {% endif %}
                    delay: {{ objet.delay }},
                    msg: '{{ objet.body }}'
                });
            }, delayTime );
            $('#{{ objet.id }}ListLength').val(listLength + 1);
        }
    </script>
{% endif %}
