{# template de l'objet OSDiv #}
{% set objClass = gotBootstrap(objet.widthBT) %}

<div id="{{ objet.id }}"
        {% if objet.classes is not empty %}
            {% set objClass = objClass ~ " " ~ objet.classes  %}
        {% endif %}
        {% if objClass is not empty %} class="{{ objClass }}" {% endif %}
>

    <style>
        #{{ objet.id }} {
            display: {{ objet.display }}
        }
    </style>

    {{ content | raw }}

</div>